.dev .card-img-top{
    width: 100%;
	height: 50vw;
	max-height: 30vh;
	object-fit: cover;
}

.about-top-row{
    display: flex;
    /* flex-basis: 100%; */
    /* align-items: stretch; */
}

a{
    color:"gray";
}

.col-md-6{
    flex-direction: column;
    align-items: stretch;
}
