.foot footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.foot footer p {
  margin-bottom: .25rem;
}

.fillPage {
  min-height: 80vh;
}
a{
  color:gray;
  -webkit-transition: all 500ms; /* Safari */
    transition: all 500ms;
}

a:active { 
  font-size: 17px; 
  color:darkgray;
  font-size-adjust: 16px;
}

a:hover{
  color:darkgray;
}
