/* stylelint-disable selector-list-comma-newline-after */

.petEntity .jumbotron_wrapper{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: black;
}

.petEntity .card{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 1.0rem;
  margin-right: 1.0rem;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  }

.petEntity .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .petEntity .display-4 {
      font-size: 3rem;
    }
  }

  .petEntity .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .petEntity .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  
  .petEntity .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  .petEntity .border-top { border-top: 1px solid #e5e5e5; }
  .petEntity .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .petEntity .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  /* Pagination */
  .petEntity .blog-pagination {
    margin-bottom: 4rem;
  }
  .petEntity .blog-pagination > .btn {
    border-radius: 2rem;
  }

  /* Share button */
  .share-buttons {
    list-style: none;
    display: inline-block;
  }

  .col-md-12 .card:hover{
    transform: scale(1);
  }

  /* Haptic Animation */
  .card {
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
  }

  .card:hover{
    transform: scale(.98);
  }

  .Map:hover {
    transform: scale(1.02);
  }

  .Map{
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
  }

  .button{
    cursor: pointer;
    -webkit-transition: all 300ms; /* Safari */
    transition: all 300ms;
  }

  .button:hover{
    transform: scale(.95);
  }
