<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body>
    
    <div class="footer">
      <p>Message:</p>
      {% autoescape false %}
      <p>{{ message }}</p>
      {% endautoescape %}
    </div>
</body>
</html>